* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
/*GHOST*/
#ghost {
    display: none;
    position: absolute;
    top: 50px;
    left: -35px;
}
/*FINE GHOST*/
/*HEIGHT*/
.ms_h600 {
    height: 600px;
}
.ms_h400 {
    height: 400px;
}
.ms_h250 {
    height: 250px;
}
/*FINE HEIGHT*/
/*PULSANTI*/
.ms_click {
    color: white;
    padding: 5px 10px;
    border-radius: 50px 50px;
}
/*FINE PULSANTI*/
/*BACKGROUND-COLOR*/
.ms_bg_c-r {
    background-color: red;
}
.ms_bg_c-b {
    background-color: blue;
}
.ms_bg_c-black {
    background-color: black;
}
/*FINE BACKGROUND-COLOR*/
.ms_button {
    padding: 10px 10px;
}
/*PADDING*/
.padding00 {
    padding-left: 0;
    padding-right: 0;
}
/*PADDING*/
/*MARGIN*/
.ms_mb-0 {
    margin-bottom: 0;
}
.ms_mt-100 {
    margin-top: 100px;
}
/*FINE MARGIN*/
/*Fine Common*/

/*HEADER*/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
/*TOP*/
.header-top {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    height: calc(100% - 70px);
    background-color: black;
}
.header-top > img {
    width: 100px;
}
/*FINE TOP*/
/*BOTTOM*/
.header-bottom {
    height: 70px;
    display: flex;
    background-color: lightgrey;
}
.header-bottom-left {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom-left > img {
    width: 100%;
    height: 100%;
}
/*CENTER*/
.header-bottom-center {
    width: 55%;
    display: flex;
    align-items: center;
}
.header-bottom-center > ul, .header-bottom-right > ul {
    display: flex;
    align-items: center;
}

.header-bottom-center li, .header-bottom-right li {
    list-style-type: none;
    margin-right: 20px;
    position: relative;
}

.header-bottom-center li:active #ghost {
    display: block;
}
#ghost > li {
    background-color: lightgrey;
    padding: 10px 20px;
}
/*FINE CENTER*/
.header-bottom-right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.ms_explosion  ul > li {
    list-style-type: none;
}
.ms_explosion {
    display: none;
}
/*FINE BOTTOM*/
/*FINE HEADER*/
/*JUMBOTRON*/

.jumbotron > img {
    width: 100%;
    object-fit: contain;
}

/*FINE JUMBOTRON*/
/*SECTION GAMES*/
.one {
    border: 4px solid blue;
    border-radius: 22px 22px;
}

.retural img {
    width: 100%;
    object-fit: contain;
    border-radius: 22px 22px;
    padding: 2px 2px;
}
.ratcket img {
    width: 100%;
    object-fit: contain;
    border-radius: 22px 22px;
    padding: 5px 5px;
}

/*FINE SECTION GAMES*/
/*SECTION PLAYSTATION-5*/

/*PlayStation bottom-top*/
.bottom-top > div:nth-child(2) > div {
    width: 100%;
}
.bottom-top > div:nth-child(2) > div > img{
    width: 100%;
    object-fit: cover;
}
button {
    padding: 5px 10px;
    color: white;
    border-radius: 40px 40px;
    border: none;
}
/*Fine PlayStation bottom-top*/
/*PlayStation bottom-bottom*/

.playstation img {
    width: 50%;
    object-fit: contain;
}

/*Fine PlayStation bottom-bottom*/
/*FINE SECTION PLAYSTATION-5*/

/*JUMBOTRON TAKES*/

/*FINE JUMBOTRON TAKES*/

/*NUOVE USCITE*/
.tony > img, .crash > img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px;
}
.tony > div {
    width: 95%;
}
/*NUOVE USCITE*/
/*EXPLORE*/
div > img {
    width: 100%;
}

/*FINE EXPLORE*/
/*PLAYSTATION PLUS*/
#playplus > div > img {
    width: 100%;
}
.centratura {
    width: 90%;
    margin: 0 auto;
}
/*FINE PLAYSTATION PLUS*/
/*JUMBOTRON PLAYSTATION NOW*/
#playNow {
    width: 100%;
}
/*FINE JUMBOTRON PLAYNOW*/
/*SOCIAL*/

#social > .col-6 > div > img {
    width: 100%;
}
/*FINE SOCIAL*/
/*FOOTER*/

footer #logo-footer {
    width: 80px;;
    margin-bottom: 30px;
}

footer svg {
    width: 40px;
    height: 20px;
}
.col-lg-6 > div > p {
    display: inline-block;
}
footer li {
    list-style-type: none;
}

.footer-bottom img {
    width: 100px;
}

/*FINE FOOTER*/
/*MEDIA QUERY*/

@media screen and (min-width: 992px) {
    .ms_explosion{
        display: block;
    }
    .ms_hamburger {
        display: none;
    }
    .footer-bottom > div:nth-child(2) > div:nth-child(1) {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    #jumbotron-april, #jumbotron-avengers {
        display: none;
    }
}


/*FINE MEDIA QUERY*/