* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
/*HEIGHT*/
.ms_h600 {
    height: 600px;
}
.ms_h400 {
    height: 400px;
}
.ms_h250 {
    height: 250px;
}
/*FINE HEIGHT*/
/*PULSANTI*/
.ms_click {
    color: white;
    padding: 5px 10px;
    border-radius: 50px 50px;
}
/*FINE PULSANTI*/
/*BACKGROUND-COLOR*/
.ms_bg_c-r {
    background-color: red;
}
.ms_bg_c-b {
    background-color: blue;
}
/*FINE BACKGROUND-COLOR*/
.ms_button {
    padding: 10px 10px;
}
/*PADDING*/
.padding00 {
    padding: 0;
}
/*FINE WIDTH*/
/*Fine Common*/

/*HEADER*/
header {
    height: 100px;
}
.header-top {
    height: calc(100% - 70px);
}
.header-bottom {
    height: 70px;
}
#logo > img {
   width: 100%; 
}
#nav {
    height: 100%;
    background-color: blue;
}
.ms_explosion  ul > li {
    list-style-type: none;
}
.ms_explosion {
    display: none;
}
/*FINE HEADER*/
/*JUMBOTRON*/

.jumbotron > img {
    width: 100%;
    object-fit: contain;
}

/*FINE JUMBOTRON*/
/*SECTION GAMES*/
.game {
    border: 4px solid blue;
    border-radius: 10px 10px;
}

.retural img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px;
    padding: 5px 5px;
}
.ratcket img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px;
    padding: 5px 5px;
}

/*FINE SECTION GAMES*/
/*SECTION PLAYSTATION-5*/

/*PlayStation bottom-top*/
.bottom-top > div:nth-child(2) > div {
    width: 100%;
}
.bottom-top > div:nth-child(2) > div > img{
    width: 100%;
    object-fit: cover;
}
button {
    padding: 5px 10px;
    color: white;
    border-radius: 40px 40px;
    border: none;
}
.playstation {
    border: 2px solid blue;
    border-radius: 10px 10px;
}

.playstation img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px;
    padding: 5px 5px;
}
.playstation img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px;
    padding: 5px 5px;
}
/*Fine PlayStation bottom-top*/

/*FINE SECTION PLAYSTATION-5*/
/*NUOVE USCITE*/
.tony > img, .crash > img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px;
}
.tony > div {
    width: 95%;
}

/*NUOVE USCITE*/
/*MEDIA QUERY*/

@media screen and (min-width: 992px) {
    .ms_explosion{
        display: block;
    }
    .ms_hamburger {
        display: none;
    }

}


/*FINE MEDIA QUERY*/